#separateForm {
      margin-bottom: 2rem;
    }
    #loading-img{
      display:none;
    }
    .btn-form {
      width: 100%;
      border-radius: 0;
    }
    .badge{
      margin-left: 2px;
      border-radius: 0;
    }
    .response_msg{
      margin-top:10px;
      font-size:13px;
      color:#ffffff;
      padding:3px;
      display:none;
    }
    body {
      font-family: 'Roboto Slab', Verdana, Sans-Serif;

    }
    .btn-primary {
      background-color: #aed361;
      border: none;
      border-radius: 0; 
    }
    .btn-success {
        background-color: #aed361;
        border: none;
        border-radius: 0; 
      }
    .form-control {
      background-color: #f7fafc;
      border-radius: 0;
      border-width: 0px 0px 2px 2px;
      border-color: #cad8e2;
    }
    .form-control:focus {
      border-color: #aed361;
      background-color: #f0f4f6;
      box-shadow: none;
    }
    .navbar {
      background-color: #fff ;
      height: 111px;
      border-left: none;
      border-top: none;
      border-right: none;
      border-radius: 0px;
      padding: 1.4rem 0 2.2rem 0;
    }
    .navbar.contanier-fluid {
      height: 60px;
    }
    .navbar-brand {
      height: 80px;
      margin-left: -20px;
    }
    .btn {
      margin-bottom: 5px;
    }
    h3 {
      margin-bottom: 40px;
    }
    .container {
      margin-bottom: 40px;
    }
    .navbar-toggle {
      display: none;
    }
    .margin-bottom {
      margin-bottom: 10px;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .list-group-item {
      margin-left: 5px;
    }
    .margin {
      margin-left: 12px;
    }
    .space {
      margin-top: 10px;
    }
    .space-md {
      margin-top: 15px;
    }
    .space-lg {
      margin-top: 30px;
    }
    .list-group-item.active {
      background-color: #aed361;
    border-color: #aed361;
    }
    .list-group-item:first-child {
      border-radius: 0;
    }
    .list-group-item:last-child {
      border-radius: 0;
    }
    .alert-success {
      background-color: #aed361;
      font-size: 20px;
    }
    .col {
      margin-bottom: 20px;
    }
    input {
        margin-bottom: 10px;
    }